{% extends "layout.twig" %}
{% block content %}
    <h2>New User</h2>
    <a class="btn btn-primary" style="margin-bottom: 10px" href="{{ 'admin/users' | url }}">Back</a>
    <form method="post">
        {% if errors %}
            {% include ('partials/errors.twig') %}
        {% endif %}
        {% if result %}

            <div class="alert alert-success">
                Success!!!
            </div>

        {% endif %}
        <div class="form-group">
            <label for="inputName">Name</label>
            <input class="form-control" type="text" name="name" id="inputName">
        </div>
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input class="form-control" name="email" type="email" id="inputEmail">
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input class="form-control" name="password" type="password" id="inputPassword">
        </div>

        <input class="btn btn-primary" style="margin-top: 10px" type="submit" value="Save">
    </form>

{% endblock %}